$blue: #4183D7;
$purple: #e91e63;

nav {
  height: 70px;
  padding: 10px;
}

#logomenu {
  margin-top: -5px;
  width: 180px;
}

.navbar-default {
  background-color: #fff;
}

#navbar ul li {
  a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
  }
  &:last-child {
    background-color: $purple;
    border-radius: 3px;
    margin-right: 40px;
    margin-left: 35px;
    margin-top: 2px;
    a {
      color: #fff;
      padding: 13px 25px;
    }
  }
}